body{
    background-color: rgb(216, 203, 219);
}
img{
    padding: 5px;
    box-shadow: 5px 5px 1px;
}
img.a{
    background-color: rgb(255, 0, 106);
}
img.b{
    background-color: rgb(183, 0, 255);
}
img.c{
    background-color: rgb(0, 132, 255);
}