body
{
    background-color: lightgreen;
}
form
{
    display: block;
}
p
{
    display: inline-block;
}
label
{
    color: blueviolet;
}
div
{
    border: 2px solid black;
    width: 30px;
    padding: 3px;
}