body
{
    background-color: rgb(194, 255, 194);
    margin-left: 20px;
}
p
{
    display: block;
}
label
{
    color: blue;
}
div
{
    border: 2px solid black;
    width: 50px;
    padding: 3px;
}
input.a 
{
    margin-left: 60px;
}
input.b
{
    margin-left: 10px;
}
h1
{
    margin-left: 10px;
}