body
{
    background-color: rgb(194, 255, 194);
    margin-left: 20px;
}
div
{
    border: 1px solid rgb(205, 31, 240);
    padding: 10px;
    width: 500px;
    display: block;
    margin: 25px;
}
p
{
    display: block;
    margin: 1em;
}
label
{
    color: blue;
    margin-left: 10px;
    margin-right: 30px;
}
input.b
{
    margin: 60px;
    border: 1px solid grey;
    border-bottom: 3px gray;
    border-right: 3px gray;
}