body
{
    background-color: lightcyan;
}
table
{
    border: 2px solid rgb(0, 110, 255);
}
td
{
    margin-left: 50px;
}
table.a
{
    background-color: white;
    color: blueviolet;
}