body
{
    background-color: lightcyan;
    margin-left: 30px;
}
ol,ul,dl
{
    border: 2px solid rgb(0, 110, 255);
    width: 400px;
}
dl
{
    background-color: white;
    color: blueviolet;
}
ol.a
{
    list-style-type: upper-roman;
}
ol.b
{
    list-style-type: none;
}
ul
{
    list-style-type: square;
}
h1
{
    margin-left: 20px;
}