body
{
    background-color:aliceblue;
}
a
{
    height:40px;
    width:150px;
    margin:20px;
    display:block;
    text-align:center;
    padding-top:1em;
    background-color:rgb(190, 208, 224);
}
a.a
{
    border-left: ridge 4px red;
}
a.b
{
    border-left: ridge 4px yellow;
}
a.c
{
    border-left: ridge 4px green;
}
a.d
{
    border-left: ridge 4px blue;
}
a:hover
{
    background-color: rgb(116, 116, 116);
}