body
{
    background-color:rgb(0, 0, 0);
}
div
{
    height:400px;
    width:700px;
    margin:50px;
    border:10px white;
    border-radius:10px;
    display:block;
    text-align:center;
    padding-top:1em;
    background-color:rgb(0, 0, 0);
}
div:focus
{
    background-color: blue;
}
div:hover
{
    text-decoration: blue;
}