body
{
    background-color: rgb(0, 4, 63);
}
div
{
    height: 90px;
    width: 150px;
    margin: 10px;
    border-width: 10px;
    border-color: white;
    border-radius: 10px;
    display: block;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    padding: 40px;
    color: white;
}
div:focus
{
    background-color: blue;
}
div:hover
{
    color: blue;
}
h1
{
    margin-left: 40px;
    color: red;
}