body
{
    background-color:#f8deff;
    margin-left: 30px;
}
a.link
{
    display: inline;
    margin-right: 20px;
    margin: 30px;
}
a:hover
{
    font-weight: 200;
}
a:visited
{
    color: blueviolet;
}
h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}