body
{
    background-color:#f7eeff;
    margin-left: 30px;
}
a.link
{
    margin-left: 50px;
}
a:hover
{
    color: rgb(0, 247, 255);
}
a:visited
{
    color: blueviolet;
}
div
{
    width: 150px;
    height: 300px;
    margin: 20px;
    background-color: rgb(119, 0, 255);
    box-shadow: 2px 3px rgba(83, 83, 83, 0.774);
    display: block;
    float: left;
}