body
{
    background-color:#fffcee;
    margin-left: 30px;
}
a
{
    margin-left: 50px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(255, 220, 122);
}
a:hover
{
    background-color: black;
}
a:visited
{
    color: blueviolet;
}
div
{
    width: 150px;
    height: 300px;
    margin: 20px;
    background-color: rgb(255, 245, 159);
    box-shadow: 5px 5px rgba(83, 83, 83, 0.774);
    display: block;
    float: left;
}