body
{
    background-color: rgb(207, 255, 192);
}
p
{
    margin:30px;
    width: 350px;
    padding:5px;
    box-shadow:4px 3px black;
    background-image: linear-gradient(to bottom, #cfffc0, #6fff43);
}
@font-face
{
    font-family:myRoboto;
    src: url(Roboto-Regular.ttf);
}
@font-face
{
    font-family:myMickey;
    src: url(Mickeys\ Merry\ Christmas.ttf);
}
p.a
{
    font-family:myRoboto,sans-serif;
}
p.b
{
    font-family:myMickey,sans-serif;
}
