body
{
    background-color: rgb(255, 238, 238);
}
p
{
    margin:30px;
    width: 350px;
    padding:5px;
    box-shadow:4px 3px black;
    background-image: linear-gradient(to bottom, #ffeeee, #ff5f5f);
}
div.a
{
    font-family: Arial, Helvetica, sans-serif;
}
div.b
{
    font-family: 'Courier New', Courier, monospace;
}
div.c
{
    font-family: 'Times New Roman', Times, serif;
}
span.l
{
    font-weight: lighter;
}
span.b
{
    font-weight: bold;
}
span.bo
{
    font-weight: bolder;
}