@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Pixelify+Sans&family=Space+Grotesk&display=swap');
body
{
    background-color: rgb(255, 212, 192);
}
p
{
    margin:30px;
    width: 350px;
    padding:5px;
    box-shadow:4px 3px black;
    background-image: linear-gradient(to bottom, #fdcfae, #ff7f43);
}
div.a
{
    font-family:'Pixelify Sans', cursive;
}
div.b
{
    font-family: 'Space Grotesk', sans-serif;
}
div.c
{
    font-family: 'Croissant One', cursive;
}

