@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Noto+Serif+NP+Hmong&family=Pixelify+Sans&display=swap');
body
{
    background-color: rgb(255, 246, 238);
}
p
{
    margin:30px;
    width: 350px;
    padding:5px;
    box-shadow:4px 3px black;
    background-image: linear-gradient(to bottom, #fff8ee, #ff9843);
}
div.a
{
    font-family:'Pixelify Sans', cursive;
}
div.b
{
    font-family: 'Noto Serif NP Hmong', serif;
}
div.c
{
    font-family: 'Croissant One', cursive;
}

