@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Pixelify+Sans&family=Space+Grotesk&display=swap');
body
{
    background-color: rgb(238, 255, 253);
}
p
{
    margin:30px;
    width: 420px;
    padding:5px;
    box-shadow:4px 3px black;
    background-image: linear-gradient(to bottom, #eefffd, #20fff4);
}
div.a
{
    font-family:'Pixelify Sans', cursive;
}
div.b
{
    font-family: 'Space Grotesk', sans-serif;
}
div.c
{
    font-family: 'Croissant One', cursive;
}
span.q
{
    color: aquamarine;
    text-shadow: 1px 1px 2px black, 0 0 20px blue, 0 0 7px darkblue;
    font-size: large;
}
span.w
{
    text-shadow: 4px 4px 4px #666666;
    font-size: large;
}
span.e
{
    color: coral;
    text-shadow: 0 0 10px #00ff00;
    font-size: large;
}