body
{
    background-color: rgb(238, 255, 253);
}
p
{
    margin:30px;
    width: 350px;
    padding:5px;
    box-shadow:4px 3px black;
    background-image: linear-gradient(to bottom, #eefffd, #20fff4);
}
div.a
{
    font-family:'Pixelify Sans', cursive;
    color: aquamarine;
    text-shadow: 1px 1px 2px black, 0 0 20px blue, 0 0 7px darkblue;
}
div.b
{
    font-family: 'Noto Serif NP Hmong', serif;
    text-shadow: 4px 4px 4px #666666;
}
div.c
{
    font-family: 'Croissant One', cursive;
    color: coral;
    text-shadow: 0 0 10px #00ff00;
}